{% extends 'OE_dashboard.html'%}
{% load static %}
{% if request.user.is_staff%}
{% block myProfile%}

<body>
    <div class="card mt-3 shadow-lg" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Your Profile Summary </h5>
            <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
            <h6>Username:{{request.user.username}}</h6>
            <h6>Email:{{request.user.email}}</h6>
            <h6>Premise:{{premise_name}}</h6>
            
        </div>
    </div>
</body>
{% endblock %}

{% else %}
{% block myProfileUser%}
<body>
    <div class="card mt-3 shadow-lg" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Your Profile Summary </h5>
            <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
            <h6>Username:{{request.user.username}}</h6>
            <h6>Email:{{request.user.email}}</h6>
            <h6>Premise:{{premise_name}}</h6>
            
        </div>
    </div>
</body>
{% endblock %}
{% endif %}